<connectionStrings>

   <clear />

   <add name="chinook"
    providerName="SQLiteOLEDBProvider.SQLiteOLEDB.1"
    connectionString="Provider=SQLiteOLEDBProvider.SQLiteOLEDB.1;Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

   <add name="chinook2"
    providerName="System.Data.OleDb"
    connectionString="Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

   <add name="chinookOLD"
    providerName="System.Data.OleDb"
    connectionString="Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

   <add name="MSSQL"
    providerName="System.Data.ProviderName"
    connectionString="Data Source=DBSRV\QWERTY;Database=Sales;User Id=user02;Password=user02;" />

   <add name="MY_DB_SQLITE"
    providerName="System.Data.ProviderName"
    connectionString="data source=D:\TEMP\SQLite\mydb.db;" />

   <add name="SQLITEDB1"
    providerName="System.Data.ProviderName"
    connectionString="Data Source=D:\TEMP\SQLite\SQLITEDB1.db3;" />

</connectionStrings >
