<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UrlShortening.Properties.Settings.SalesConnectionString"
            connectionString="Data Source=DBSRV\QWERTY;Initial Catalog=Sales;Persist Security Info=True;User ID=user02;Password=8a0IucJ@Nx1Qy5HfFrX0Ob3m"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>